<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Bolt Test</title>
</head>
<body>
    @RenderBody()
    <div id="app"></div>

    <script src="~/client/bundle/bundle.js"></script>
</body>
</html>
